{% extends "template/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<form action="
{% if entite_id %}
    {% url 'entite_read' entite_id %}
{% else %}
    {% url 'entite_create' %}
{% endif %}
"
method="post" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% bootstrap_button button_type="submit" content="Enregistrer" %}
    {% bootstrap_button button_type="reset" content="Annuler" button_class="btn btn-secondary" %}
    {% if entite_id %}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Effacer
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Effacer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Confirmez-vous la suppression de {{ form.nom }} {{ entite.prenom }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger">Confirmer</button>
            </div>
            </div>
        </div>
        </div>
    {% endif%}
</form>
{% endblock %}
