{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stonable ERP</title>
    <link rel="stylesheet" href="{% static 'stonable/style.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark sticky-top " data-bs-theme="dark">
        <div class="container-xxl">
            <a class="navbar-brand" href="#">Stonable ERP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link 
                {% if request.resolver_match.url_name == 'home' %}
                    active
                {% endif %}
                " aria-current="page" href="{% url "home" %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Annuaire
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item
                        {% if request.resolver_match.url_name == "entites" %}
                            active
                        {% endif %}
                            " href="{% url "entites" %}">Consulter</a>
                        </li>
                        <li>
                            <a class="dropdown-item
                        {% if request.resolver_match.url_name == "entite_create" %}
                            active
                        {% endif %}
                            " href="{% url "entite_create" %}">Créer</a>
                        </li>
                    </ul>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Chercher" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Chercher</button>
            </form>
            </div>
        </div>
        </nav>

    <div class="container-xxl mt-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
